<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Kapchiy</title>
    <!-- load local stylesheet (css) -->
    <link rel="stylesheet" href="/styles.css" />
    <!-- loading jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <div class="main">
        <h1>Kapchiy</h1>
    <%- include("partials/flashes.ejs") %> <%# Add flashes partial %>
    <%- include("partials/navbar_logged_in.ejs") %> <%# Add flashes partial %>
    
    <% userPosts.forEach((post) => { %>
        <div class="gallery">
            <h2 class="postTitle"><%= post.title %></h2>
            <figure>
                <img class="uploadedImg" src="<%= post.path %>" alt="<%= post.title %>">
                <figcaption><%= post.caption || 'Untitled' %></figcaption>
            </figure>
          
            <form method="POST" action= "/delete/<%= post.postId %>" >
                <p><input type="submit" value= "Delete <%=post.postId%>" ></p>
            </form>
            <div class="like-container">
                <form method="POST" action="/like/<%= post.postId %>">
                    <button data-liker="<%= username%>" data-id="<%=post.postId%>" class="likeBtn" type="button" name="likeBtn">
                    👍 like
                    </button>
                </form>

                <p class="likeCounter">
                    Likes: <% (post.likes.length > 0) ? post.likes.length : '0' %>
                </p>
            </div>

            <form method="GET" action="/update/<%= post.postId %>">
                <p><input type="submit" value="Update <%=post.postId%>"></p>
            </form>

            <div class="postTag">Tags:</div>
            <ul>
            <% if (post.tags) { %>
                <% post.tags.split(',').forEach((tag) => { %>
                <li><%= tag %></li>
                <% }); %>
            </ul>
            <% } else { %>
            <p>"No tags attached to this post"</p>
            <% }; %>
        </div>
            <% }); %>
    </div>
            
    <!-- load local js -->
    <script src="/main.js"></script>
</body>
</html>
