<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Update</title>
    <!-- load local stylesheet (css) -->
    <link rel="stylesheet" href="/styles.css" />
    <!-- loading jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>

    <div class="main">
        
        <h1>Kapchiy</h1>
        <%- include("partials/navbar_logged_in.ejs") %>  
        
        <div class="updateForm">
            <form method="POST" action= <%='/update/' + post.postId %>>
                <p>
                    <label for="title">Title
                        <input type="text" name="title" value="<%=post.title%>">
                    </label>
                </p>
                <p>
                    <label>Caption
                        <input type="text" name="caption" value="<%=post.caption%>">
                    </label>
                </p>
                <p>
                    <label>Tags (separate by ,)
                        <input type="text" name="tags" value="<%=post.tags%>">
                    </label>
                </p>
                <p><input type="submit" value="Update Post"></p>
            </form>
        </div>
    </div>
    <div id="flashes">
        <% if (messages && messages.error) { %>
            <ul>
                <% for (m of messages.error) {%>
                    <li>
                        <%= m %>
                    </li>
                    <% } %>
            </ul>
            <% } %>
                <% if (messages && messages.info) { %>
                    <ul>
                        <% for (m of messages.info) {%>
                            <li>
                                <%= m %>
                            </li>
                            <% } %>
                    </ul>
                    <% } %>
    </div>

    <h1>Update Post</h1>

    


    <script src="/main.js"></script>
    
</body>

</html>