<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Kapchiy Userpage</title>
    <!-- load local stylesheet (css) -->
    <link rel="stylesheet" href="/styles.css" />
    <!-- loading jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <div class="wrapper">
        <div class="sidebar">
            <!--partial for navbar-->
            <%- include("partials/navbar_logged_in.ejs") %>
        </div>
        <div class="main_content">
        <!--Header of the page of the user: name, bio, following-->
        <div class="info">
            <h3><%=user %></h3>
            <div class="info-data">
                <div class="data">
                    <h4>Following</h4>
                    <p id="following"><%= following.length%>  following</p>
                </div>
                <div class="data">
                    <h4>Followers</h4>
                    <p id="followers"><%= followers.length%>  followers</p>
                </div>
                <div class="data">
                    <h4>Posts</h4>
                    <p><%= userPosts.length%>  posts</p>
                </div>
            </div>
            <h3>Bio</h3>
            <p id="bio"><%=userBio%></p>
        </div>
        <div class="user-info">
            <div class="user-profile">
                <div class="user-folow-bio"> <!-- flex container -->
                    <% if (user !== username) { %>
                        <form action="/addFollower/<%= user %>" method="POST">
                            <button class="followBtn" type="button" name="<%= user %>">
                                Follow <%= user %>
                            </button>
                    <% }; %>
                        <!--if currentUser == owner of the user page, button to let them edit their bio and such-->
                        <% if (user === username) { %>
                        <!--upon hitting submit button, do an app.post in server.js-->
                        <form method="POST" action="/editBio/<%= user %>">
                        <p><label>Edit Bio:
                            <textarea placeholder= "<%=userBio%>" rows="3" cols="30" name="bio" maxlength="200"><%= userBio %></textarea>
                        </label></p>
                        <div class="the-count">
                            <span id="current">0</span>
                            <span id="maximum">/ 200</span>
                        </div>
                        <p><button type="button" class="editBioBtn" name="<%= user %>">Save Bio</button></p>
                        </form>
                        <% }; %>
                    </div> <!-- flex container -->
                </div>
                <!--if currentUser == owner of the user page, button to let them edit their bio and such-->
                <!--User posts-->
                <div class="userPosts">
                    <h2>Posts</h2>
                    <div class="post">
                    <% userPosts.forEach((post) => {%>
                        <h3><%= post.title %></h3>
                        <figure>
                            <img class="uploadedImg" src="<%= post.path %>" alt="<%= post.title %>">
                            <figcaption><%= post.caption || 'Untitled' %></figcaption>
                        </figure>

                        <div class="postTag">Tags:
                        <ul>
                        <% if (post.tags) { %>
                            <% post.tags.split(',').forEach((tag) => { %>
                            <li><%= tag %></li>
                            <% }); %>
                        </ul>
                        <% } else { %>
                        <p>No tags attached to this post</p>
                        <% }; %>
                        </div>
                        
                                <div class="like-container">
                                    <form method="POST" action="/like/<%= post.postId %>">
                                        <button data-liker="<%= username%>" data-id="<%=post.postId%>" class="likeBtn" type="button" name="likeBtn">
                                        👍 like
                                        </button>
                                    </form>
        
                                    <p class="likeCounter">
                                        Likes: <%= post.likes.length %>
                                    </p>
                                </div>

                                <div class="cud">
                                    <% if (user === username) { %>
                                        <div>
                                            <form method="GET" action="/create">
                                                <p><button type="submit">Create New Post</button></p>
                                            </form>
                                        </div>
                                        <div>
                                            <form method="GET" action="/update/<%= post.postId %>">
                                                <p><button type="submit">Update Post</button></p>
                                            </form>
                                        </div>
                                        <div>
                                            <form method="POST" action="/delete/<%= post.postId %>">
                                                <p><button type="submit">Delete Post</button></p>
                                            </form>
                                        </div>
                                    <% }; %>
                                    </div>

                        <% }); %>
                    </div>
                </div>
            </div>

        </div>
    </div>
  <!-- load local js -->
  <script src="/userpage.js"></script>
</body>
</html>